.header {
    padding: 60px;
    text-align: center;
    background: olivedrab;
    color: white;
    font-size: 30px;
  }

  .cardsita {
    padding: 60px;
    margin-left: -12%;
    text-align: center;
    justify-content: space-around;
  }